{% extends 'main/layout.html' %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
    <div class="data_field">
       <h1>Контактная информация</h1>
        <p><b>Сайт разработан при помощи Django Framework в рамках домашнего задания по НИСу по Python разработке.</b></p>
        <p>Связаться с автором:</p>
        <div class="icon-text">
          <i class="fa-brands fa-telegram"></i>
          <p>Telegram: @harukimeii - Мищенко Александр</p>
        </div>
    </div>
{% endblock %}