{% extends 'main/layout.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
    <div class="data_field">
    <h1>Краткая инструкция:</h1>

    <h2>Верхняя панель:</h2>
    <ul>
        <li>Переход на главную страницу сайта</li>
        <li>Переход на страницу просмотра всех статей</li>
        <li>Переход на страницу с контактами</li>
        <li>Переход на страницу добавления новой статьи</li>
    </ul>

    <h2>О сайте:</h2>
    <p>Сайт работает на основе базы данных от <strong>Django FrameWork</strong>.</p>

    <h3>Данные для входа:</h3>
    <ul>
        <li><strong>Логин:</strong> admin</li>
        <li><strong>Пароль:</strong> 12345</li>
    </ul>

    <h2>Работа со статьями:</h2>
    <ul>
        <li>На странице <strong>"Статьи"</strong> данные по умолчанию упорядочены по новизне записей.</li>
        <li>Присутствует возможность <strong>отфильтровать</strong> и <strong>отсортировать</strong> данные.</li>
        <li>При <strong>добавлении новой статьи</strong> производится проверка корректности введенных в форму данных перед записью в базу.</li>
        <li>При нажатии <strong>"Читать полностью"</strong> пользователь переходит по динамической ссылке к статье.</li>
        <li>На странице статьи можно <strong>просмотреть</strong>, <strong>отредактировать</strong> или <strong>удалить</strong> статью.</li>
    </ul>
</div>
{% endblock %}